<h2 class="h2">Voici tes prétendants</h2>
<div class="profilsList_container">
  <select name="listInteret" id="listInteret">
    <option *ngFor="let interet of interetChoiceList">{{interet}}</option>
  </select>
  <ul class="list_container">
    <li *ngFor=" let profil of profilList" [(ngModel)]="interetSelected" class="list_item">
      <app-profil [profil]="profil"></app-profil>
    </li>
  </ul>
</div>
