
.list_container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.list_item{
  list-style: none;
  margin: 40px;
}

.match_liked{
  background-color: green;
  color: black;
}

.match_nope{
  background-color: red;
  color: black;
}
