.itemProfil_container{
  border: solid 0.5px #dadada;
  width: 300px;


}

h3{
  color: black;
  text-align: center;
}

.profil_img_container{
  display: flex;
  justify-content: center;
}

.profil_img{
 height: 250px;
  margin: 10px;


}

.btn_match_container{
  background-color: #dadada;
  display: flex;
  justify-content: center;
}
