<div class="itemProfil_container">
  <div class="profil_container">
    <h3 class="profil_name">{{profil.prenom}} {{profil.nom}}</h3>
    <div class="profil_img_container" >
    <img class="profil_img" src="{{profil.photoUrl}}" alt="photo-{{profil.nom}}">
    </div>
  </div>
  <div>
    <ul>
      <div *ngFor="let interet of interetChoiceList">
        <li>{{interet.nom}}</li>
      </div>
    </ul>
  </div>
  <div class="btn_match_container">
    <app-match [idProfil] = "profil.id"></app-match>
  </div>
</div>
