.nav_bar {
  height: 50px;
  display: flex;
  border-bottom: solid 0.5px #dadada;
  padding-bottom: 10px;

}

.nav_bar_img {
  width: 40px;
  margin: 0 20px;
}

.nav_bar a {
  text-decoration: none;
  color: black;
  margin: auto 20px;

}

.nav_bar_enterprise {
  font-size: 22px;
  font-weight: bold;
}

.footer {
  background-color: #FD3774;
  display: flex;
  justify-content: space-between;
  color: white;
  height: 50px;

}

.footer p {
  margin: auto 10px;
}
