<nav class="nav_bar">
  <img class="nav_bar_img" src="./assets/img/pngwave.png" alt="logo_zinder">
  <a class="nav_bar_enterprise" href="#">Zinder</a>
  <a class="nav_bar_button" routerLink="/stats" routerLinkActive="active">Statistique</a>
  <a class="nav_bar_button" routerLink="/admin" routerLinkActive="active">Admin</a>
</nav>
<main class="main_container">
  <router-outlet ></router-outlet>
</main>
<footer class="footer">
  <p>Toute reproduction interdite</p>
  <p>© POEI Zenika 2020</p>


</footer>
