<div class="diagram_container">
</div>
<div *ngFor="let profil of listProfils" class="listMatches_container">
  <div class="matched">
    <div>
      <p>{{profil.nom}} {{profil.prenom}}</p>
    </div>
    <div>
      <button (click)="deleteMatch(profil.id)" class="nameMatch_btn ">Supprimer</button>
    </div>
  </div>
</div>
